--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_dealers_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_dealers_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$ BEGIN NEW.updated_at = NOW(); RETURN NEW; END; $$;


ALTER FUNCTION public.update_dealers_updated_at() OWNER TO postgres;

--
-- Name: update_rbac_roles_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_rbac_roles_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN NEW.updated_at = NOW(); RETURN NEW; END;
$$;


ALTER FUNCTION public.update_rbac_roles_updated_at() OWNER TO postgres;

--
-- Name: update_segments_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_segments_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN NEW.updated_at = NOW(); RETURN NEW; END;
$$;


ALTER FUNCTION public.update_segments_updated_at() OWNER TO postgres;

--
-- Name: update_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at() OWNER TO postgres;

--
-- Name: update_users_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_users_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN NEW.updated_at = NOW(); RETURN NEW; END;
$$;


ALTER FUNCTION public.update_users_updated_at() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: behavioral_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.behavioral_events (
    id bigint NOT NULL,
    session_id character varying(120) NOT NULL,
    user_id integer,
    user_name character varying(150),
    event_type character varying(120) NOT NULL,
    page_url text,
    referrer_url text,
    device_type character varying(50),
    browser character varying(80),
    operating_system character varying(80),
    city character varying(100),
    region character varying(100),
    country character varying(100),
    traffic_source character varying(120),
    session_duration integer DEFAULT 0,
    conversion_value numeric(12,2) DEFAULT 0,
    converted boolean DEFAULT false,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.behavioral_events OWNER TO postgres;

--
-- Name: behavioral_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.behavioral_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.behavioral_events_id_seq OWNER TO postgres;

--
-- Name: behavioral_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.behavioral_events_id_seq OWNED BY public.behavioral_events.id;


--
-- Name: bulk_upload_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bulk_upload_jobs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    filename character varying(255) NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    total_rows integer DEFAULT 0,
    success_count integer DEFAULT 0,
    failed_count integer DEFAULT 0,
    error_log jsonb DEFAULT '[]'::jsonb,
    created_at timestamp with time zone DEFAULT now(),
    completed_at timestamp with time zone
);


ALTER TABLE public.bulk_upload_jobs OWNER TO postgres;

--
-- Name: consent_audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consent_audit_logs (
    id integer NOT NULL,
    consent_record_id integer,
    action_type character varying(100) NOT NULL,
    previous_value jsonb,
    new_value jsonb,
    performed_by character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.consent_audit_logs OWNER TO postgres;

--
-- Name: consent_audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.consent_audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.consent_audit_logs_id_seq OWNER TO postgres;

--
-- Name: consent_audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.consent_audit_logs_id_seq OWNED BY public.consent_audit_logs.id;


--
-- Name: consent_policies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consent_policies (
    id integer NOT NULL,
    policy_name character varying(255) NOT NULL,
    policy_type character varying(100) NOT NULL,
    status character varying(50) DEFAULT 'Active'::character varying,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.consent_policies OWNER TO postgres;

--
-- Name: consent_policies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.consent_policies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.consent_policies_id_seq OWNER TO postgres;

--
-- Name: consent_policies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.consent_policies_id_seq OWNED BY public.consent_policies.id;


--
-- Name: consent_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consent_records (
    id integer NOT NULL,
    customer_name character varying(255) NOT NULL,
    customer_email character varying(255) NOT NULL,
    marketing_status character varying(50) DEFAULT 'none'::character varying,
    analytics_status character varying(50) DEFAULT 'none'::character varying,
    personalization_status character varying(50) DEFAULT 'none'::character varying,
    source_system character varying(100),
    consent_version character varying(50),
    last_updated timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.consent_records OWNER TO postgres;

--
-- Name: consent_records_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.consent_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.consent_records_id_seq OWNER TO postgres;

--
-- Name: consent_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.consent_records_id_seq OWNED BY public.consent_records.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    id integer NOT NULL,
    cdp_id character varying(20) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100),
    email character varying(255) NOT NULL,
    phone character varying(30),
    customer_type character varying(50) DEFAULT 'B2C Customer'::character varying,
    primary_source character varying(100),
    status character varying(20) DEFAULT 'Active'::character varying,
    dealer_code character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    city character varying(100),
    country character varying(100),
    channel character varying(50) DEFAULT 'web'::character varying,
    total_orders integer DEFAULT 0,
    lifetime_value numeric(12,2) DEFAULT 0,
    consent_status character varying(30) DEFAULT 'opted in'::character varying,
    data_owner character varying(100),
    quality_score integer DEFAULT 0,
    tags text[] DEFAULT '{}'::text[]
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customers_id_seq OWNER TO postgres;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: data_quality_issues; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.data_quality_issues (
    id integer NOT NULL,
    customer_id integer NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    severity character varying(20) DEFAULT 'MEDIUM'::character varying,
    resolved boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.data_quality_issues OWNER TO postgres;

--
-- Name: data_quality_issues_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.data_quality_issues_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.data_quality_issues_id_seq OWNER TO postgres;

--
-- Name: data_quality_issues_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.data_quality_issues_id_seq OWNED BY public.data_quality_issues.id;


--
-- Name: dealer_access_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dealer_access_requests (
    id integer NOT NULL,
    dealer_code character varying(50) NOT NULL,
    target_uuid character varying(100) NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.dealer_access_requests OWNER TO postgres;

--
-- Name: dealer_access_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dealer_access_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dealer_access_requests_id_seq OWNER TO postgres;

--
-- Name: dealer_access_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dealer_access_requests_id_seq OWNED BY public.dealer_access_requests.id;


--
-- Name: dealer_affiliations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dealer_affiliations (
    id integer NOT NULL,
    customer_id integer NOT NULL,
    dealer_name character varying(200) NOT NULL,
    dealer_code character varying(50),
    region character varying(100),
    role character varying(100),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.dealer_affiliations OWNER TO postgres;

--
-- Name: dealer_affiliations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dealer_affiliations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dealer_affiliations_id_seq OWNER TO postgres;

--
-- Name: dealer_affiliations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dealer_affiliations_id_seq OWNED BY public.dealer_affiliations.id;


--
-- Name: dealer_reps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dealer_reps (
    id integer NOT NULL,
    dealer_code character varying(50) NOT NULL,
    name character varying(150) NOT NULL,
    title character varying(100),
    region character varying(100),
    email character varying(255),
    phone character varying(50),
    visits_30d integer DEFAULT 0,
    orders_30d integer DEFAULT 0,
    last_visit date,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.dealer_reps OWNER TO postgres;

--
-- Name: dealer_reps_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dealer_reps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dealer_reps_id_seq OWNER TO postgres;

--
-- Name: dealer_reps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dealer_reps_id_seq OWNED BY public.dealer_reps.id;


--
-- Name: dealers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dealers (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    code character varying(50) NOT NULL,
    parent_code character varying(50),
    type character varying(20) DEFAULT 'Branch'::character varying NOT NULL,
    tier character varying(20) DEFAULT 'standard'::character varying NOT NULL,
    region character varying(100) NOT NULL,
    city character varying(100),
    country character varying(10),
    email character varying(255),
    phone character varying(50),
    status character varying(20) DEFAULT 'Active'::character varying NOT NULL,
    data_owner character varying(100),
    annual_revenue numeric(15,2) DEFAULT 0,
    contacts integer DEFAULT 0,
    steward_uuid character varying(100),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.dealers OWNER TO postgres;

--
-- Name: dealers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dealers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dealers_id_seq OWNER TO postgres;

--
-- Name: dealers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dealers_id_seq OWNED BY public.dealers.id;


--
-- Name: flexible_attributes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flexible_attributes (
    id integer NOT NULL,
    customer_id integer NOT NULL,
    attr_type character varying(50) DEFAULT 'Behavioral'::character varying,
    attr_key character varying(200) NOT NULL,
    attr_value text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.flexible_attributes OWNER TO postgres;

--
-- Name: flexible_attributes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.flexible_attributes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.flexible_attributes_id_seq OWNER TO postgres;

--
-- Name: flexible_attributes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.flexible_attributes_id_seq OWNED BY public.flexible_attributes.id;


--
-- Name: identity_resolution_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identity_resolution_logs (
    id integer NOT NULL,
    customer_id integer,
    duplicate_customer_id integer,
    confidence_score numeric(5,2),
    action character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.identity_resolution_logs OWNER TO postgres;

--
-- Name: identity_resolution_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.identity_resolution_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.identity_resolution_logs_id_seq OWNER TO postgres;

--
-- Name: identity_resolution_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.identity_resolution_logs_id_seq OWNED BY public.identity_resolution_logs.id;


--
-- Name: identity_resolution_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identity_resolution_rules (
    id integer NOT NULL,
    rule_name character varying(255) NOT NULL,
    confidence_score numeric(5,2) DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.identity_resolution_rules OWNER TO postgres;

--
-- Name: identity_resolution_rules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.identity_resolution_rules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.identity_resolution_rules_id_seq OWNER TO postgres;

--
-- Name: identity_resolution_rules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.identity_resolution_rules_id_seq OWNED BY public.identity_resolution_rules.id;


--
-- Name: permission_audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permission_audit_logs (
    id integer NOT NULL,
    action character varying(60) NOT NULL,
    performed_by_id integer,
    performed_by_name character varying(255),
    target_user_id integer,
    target_user_name character varying(255),
    target_role_id integer,
    target_role_name character varying(255),
    entity_type character varying(50),
    old_value jsonb,
    new_value jsonb,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.permission_audit_logs OWNER TO postgres;

--
-- Name: permission_audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permission_audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permission_audit_logs_id_seq OWNER TO postgres;

--
-- Name: permission_audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permission_audit_logs_id_seq OWNED BY public.permission_audit_logs.id;


--
-- Name: promotional_campaigns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promotional_campaigns (
    id integer NOT NULL,
    campaign_name character varying(255) NOT NULL,
    status character varying(50) NOT NULL,
    campaign_type character varying(100) NOT NULL,
    total_budget numeric(12,2) DEFAULT 0 NOT NULL,
    spent_amount numeric(12,2) DEFAULT 0 NOT NULL,
    audience_size integer DEFAULT 0 NOT NULL,
    conversion_rate numeric(5,2) DEFAULT 0 NOT NULL,
    start_date date,
    end_date date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.promotional_campaigns OWNER TO postgres;

--
-- Name: promotional_campaigns_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.promotional_campaigns_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.promotional_campaigns_id_seq OWNER TO postgres;

--
-- Name: promotional_campaigns_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.promotional_campaigns_id_seq OWNED BY public.promotional_campaigns.id;


--
-- Name: rbac_menus; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rbac_menus (
    id integer NOT NULL,
    key character varying(100) NOT NULL,
    label character varying(200) NOT NULL,
    icon character varying(100),
    parent_key character varying(100),
    is_active boolean DEFAULT true,
    sort_order integer DEFAULT 0
);


ALTER TABLE public.rbac_menus OWNER TO postgres;

--
-- Name: rbac_menus_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rbac_menus_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rbac_menus_id_seq OWNER TO postgres;

--
-- Name: rbac_menus_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rbac_menus_id_seq OWNED BY public.rbac_menus.id;


--
-- Name: rbac_modules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rbac_modules (
    id integer NOT NULL,
    key character varying(100) NOT NULL,
    label character varying(200) NOT NULL,
    icon character varying(100),
    is_active boolean DEFAULT true,
    sort_order integer DEFAULT 0
);


ALTER TABLE public.rbac_modules OWNER TO postgres;

--
-- Name: rbac_modules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rbac_modules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rbac_modules_id_seq OWNER TO postgres;

--
-- Name: rbac_modules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rbac_modules_id_seq OWNED BY public.rbac_modules.id;


--
-- Name: rbac_pages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rbac_pages (
    id integer NOT NULL,
    key character varying(100) NOT NULL,
    label character varying(200) NOT NULL,
    route character varying(200),
    module_key character varying(100),
    is_active boolean DEFAULT true
);


ALTER TABLE public.rbac_pages OWNER TO postgres;

--
-- Name: rbac_pages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rbac_pages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rbac_pages_id_seq OWNER TO postgres;

--
-- Name: rbac_pages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rbac_pages_id_seq OWNED BY public.rbac_pages.id;


--
-- Name: rbac_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rbac_permissions (
    id integer NOT NULL,
    module_id integer NOT NULL,
    action character varying(50) NOT NULL,
    description text
);


ALTER TABLE public.rbac_permissions OWNER TO postgres;

--
-- Name: rbac_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rbac_permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rbac_permissions_id_seq OWNER TO postgres;

--
-- Name: rbac_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rbac_permissions_id_seq OWNED BY public.rbac_permissions.id;


--
-- Name: rbac_role_menus; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rbac_role_menus (
    role_id integer NOT NULL,
    menu_id integer NOT NULL
);


ALTER TABLE public.rbac_role_menus OWNER TO postgres;

--
-- Name: rbac_role_pages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rbac_role_pages (
    role_id integer NOT NULL,
    page_id integer NOT NULL
);


ALTER TABLE public.rbac_role_pages OWNER TO postgres;

--
-- Name: rbac_role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rbac_role_permissions (
    role_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.rbac_role_permissions OWNER TO postgres;

--
-- Name: rbac_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rbac_roles (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.rbac_roles OWNER TO postgres;

--
-- Name: rbac_roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rbac_roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rbac_roles_id_seq OWNER TO postgres;

--
-- Name: rbac_roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rbac_roles_id_seq OWNED BY public.rbac_roles.id;


--
-- Name: segments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.segments (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    activity_window character varying(50) DEFAULT 'All time'::character varying NOT NULL,
    match_type character varying(10) DEFAULT 'all'::character varying NOT NULL,
    rules jsonb DEFAULT '[]'::jsonb NOT NULL,
    member_count integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.segments OWNER TO postgres;

--
-- Name: segments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.segments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.segments_id_seq OWNER TO postgres;

--
-- Name: segments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.segments_id_seq OWNED BY public.segments.id;


--
-- Name: upload_errors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.upload_errors (
    id integer NOT NULL,
    job_id uuid,
    row_number integer NOT NULL,
    row_data jsonb,
    error_msg text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.upload_errors OWNER TO postgres;

--
-- Name: upload_errors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.upload_errors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.upload_errors_id_seq OWNER TO postgres;

--
-- Name: upload_errors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.upload_errors_id_seq OWNED BY public.upload_errors.id;


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_roles (
    user_id integer NOT NULL,
    role_id integer NOT NULL
);


ALTER TABLE public.user_roles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    full_name character varying(150) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    role character varying(30) DEFAULT 'admin'::character varying NOT NULL,
    avatar_initials character varying(3) GENERATED ALWAYS AS (upper("left"((full_name)::text, 1))) STORED,
    department character varying(100),
    phone character varying(40),
    last_login timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    avatar_url text,
    bio text,
    address character varying(255),
    customer_type character varying(50) DEFAULT 'Employee'::character varying,
    is_active boolean DEFAULT true
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: behavioral_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.behavioral_events ALTER COLUMN id SET DEFAULT nextval('public.behavioral_events_id_seq'::regclass);


--
-- Name: consent_audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consent_audit_logs ALTER COLUMN id SET DEFAULT nextval('public.consent_audit_logs_id_seq'::regclass);


--
-- Name: consent_policies id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consent_policies ALTER COLUMN id SET DEFAULT nextval('public.consent_policies_id_seq'::regclass);


--
-- Name: consent_records id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consent_records ALTER COLUMN id SET DEFAULT nextval('public.consent_records_id_seq'::regclass);


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: data_quality_issues id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_quality_issues ALTER COLUMN id SET DEFAULT nextval('public.data_quality_issues_id_seq'::regclass);


--
-- Name: dealer_access_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dealer_access_requests ALTER COLUMN id SET DEFAULT nextval('public.dealer_access_requests_id_seq'::regclass);


--
-- Name: dealer_affiliations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dealer_affiliations ALTER COLUMN id SET DEFAULT nextval('public.dealer_affiliations_id_seq'::regclass);


--
-- Name: dealer_reps id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dealer_reps ALTER COLUMN id SET DEFAULT nextval('public.dealer_reps_id_seq'::regclass);


--
-- Name: dealers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dealers ALTER COLUMN id SET DEFAULT nextval('public.dealers_id_seq'::regclass);


--
-- Name: flexible_attributes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flexible_attributes ALTER COLUMN id SET DEFAULT nextval('public.flexible_attributes_id_seq'::regclass);


--
-- Name: identity_resolution_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_resolution_logs ALTER COLUMN id SET DEFAULT nextval('public.identity_resolution_logs_id_seq'::regclass);


--
-- Name: identity_resolution_rules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_resolution_rules ALTER COLUMN id SET DEFAULT nextval('public.identity_resolution_rules_id_seq'::regclass);


--
-- Name: permission_audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permission_audit_logs ALTER COLUMN id SET DEFAULT nextval('public.permission_audit_logs_id_seq'::regclass);


--
-- Name: promotional_campaigns id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotional_campaigns ALTER COLUMN id SET DEFAULT nextval('public.promotional_campaigns_id_seq'::regclass);


--
-- Name: rbac_menus id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_menus ALTER COLUMN id SET DEFAULT nextval('public.rbac_menus_id_seq'::regclass);


--
-- Name: rbac_modules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_modules ALTER COLUMN id SET DEFAULT nextval('public.rbac_modules_id_seq'::regclass);


--
-- Name: rbac_pages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_pages ALTER COLUMN id SET DEFAULT nextval('public.rbac_pages_id_seq'::regclass);


--
-- Name: rbac_permissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_permissions ALTER COLUMN id SET DEFAULT nextval('public.rbac_permissions_id_seq'::regclass);


--
-- Name: rbac_roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_roles ALTER COLUMN id SET DEFAULT nextval('public.rbac_roles_id_seq'::regclass);


--
-- Name: segments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.segments ALTER COLUMN id SET DEFAULT nextval('public.segments_id_seq'::regclass);


--
-- Name: upload_errors id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.upload_errors ALTER COLUMN id SET DEFAULT nextval('public.upload_errors_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: behavioral_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bulk_upload_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bulk_upload_jobs (id, filename, status, total_rows, success_count, failed_count, error_log, created_at, completed_at) FROM stdin;
b7c9a778-e01a-4c38-a059-b90bd4d4c43f	customers_sample.csv	completed	20	20	0	[]	2026-05-15 11:43:46.739782+05:30	2026-05-15 11:43:46.848576+05:30
c338fd4d-2dfe-47cf-add6-3d3941c35ed2	customers_full_sample.csv	completed	20	20	0	[]	2026-05-15 13:03:37.158247+05:30	2026-05-15 13:03:37.307594+05:30
79455c01-0070-445e-ac53-e105e6dcbd8f	customers_full_sample.csv	completed	20	20	0	[]	2026-05-15 17:37:10.898507+05:30	2026-05-15 17:37:11.128236+05:30
\.


--
-- Data for Name: consent_audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: consent_policies; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: consent_records; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: data_quality_issues; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.data_quality_issues (id, customer_id, title, description, severity, resolved, created_at) FROM stdin;
\.


--
-- Data for Name: dealer_access_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dealer_access_requests (id, dealer_code, target_uuid, status, created_at) FROM stdin;
1	DSP-EU-HQ	bj	pending	2026-05-20 12:14:59.896989+05:30
2	DSP-EU-HQ	jajfjk	pending	2026-05-20 12:15:09.808376+05:30
3	DSP-AP-SYD	ABC	pending	2026-05-20 15:13:17.986446+05:30
4	DSP-AP-TYO	Virus	pending	2026-05-20 17:42:46.236114+05:30
\.


--
-- Data for Name: dealer_affiliations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dealer_affiliations (id, customer_id, dealer_name, dealer_code, region, role, created_at) FROM stdin;
\.


--
-- Data for Name: dealer_reps; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dealers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: flexible_attributes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.flexible_attributes (id, customer_id, attr_type, attr_key, attr_value, created_at) FROM stdin;
1	401	Custom	Custom	Testing	2026-05-15 13:09:05.808809+05:30
2	401	Behavioral	dhfh	jhfhjh	2026-05-15 15:27:42.811182+05:30
\.


--
-- Data for Name: identity_resolution_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: identity_resolution_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.identity_resolution_rules (id, rule_name, confidence_score, is_active, created_at) FROM stdin;
2	Phone Number Match	95.00	t	2026-05-25 17:05:28.37898
3	Name + Location Fuzzy	85.00	t	2026-05-25 17:05:28.37898
13	Email Exact Match	99.00	t	2026-06-10 12:47:08.889172
14	Phone Number Match	95.00	t	2026-06-10 12:47:08.889172
15	Name + Location Fuzzy	85.00	t	2026-06-10 12:47:08.889172
16	Device Fingerprint	70.00	f	2026-06-10 12:47:08.889172
4	Device Fingerprint	70.00	f	2026-05-25 17:05:28.37898
1	Email Exact Match	99.00	t	2026-05-25 17:05:28.37898
\.


--
-- Data for Name: permission_audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: promotional_campaigns; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rbac_menus; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rbac_modules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rbac_modules (id, key, label, icon, is_active, sort_order) FROM stdin;
2	dealer-network	Dealer Network	dealerNetwork	t	2
3	identity-resolution	Identity Resolution	identityResolution	t	3
4	segments	Segments	segments	t	4
5	behavioral-analytics	Behavioral Analytics	behavioralAnalytics	t	5
6	promotional	Promotional Effectiveness	promotional	t	6
7	consent-compliance	Consent & Compliance	consentCompliance	t	7
8	access-management	Access Management	accessManagement	t	8
9	data-model	Data Model & Uploads	dataModel	t	9
1	customer360	Customer 360	customer360	t	1
\.


--
-- Data for Name: rbac_pages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rbac_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rbac_role_menus; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rbac_role_menus (role_id, menu_id) FROM stdin;
2	1
2	2
2	3
2	4
2	5
2	6
2	7
2	8
2	9
2	10
2	11
2	12
3	1
3	2
3	5
3	6
3	7
3	11
1	2
1	4
1	10
1	11
1	12
6	2
6	4
6	3
6	5
4	8
4	11
4	12
5	4
5	10
5	11
5	5
\.


--
-- Data for Name: rbac_role_pages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rbac_role_pages (role_id, page_id) FROM stdin;
2	1
2	2
2	3
2	4
2	5
2	6
2	7
2	8
2	9
3	1
3	4
3	5
3	6
4	7
1	4
1	1
1	2
6	1
6	2
6	4
5	3
5	4
\.


--
-- Data for Name: rbac_role_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rbac_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: segments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: upload_errors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_roles (user_id, role_id) FROM stdin;
4	6
5	3
3	1
3	2
7	5
8	6
8	5
10	6
11	5
9	3
12	4
12	2
12	5
6	4
6	3
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: behavioral_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.behavioral_events_id_seq', 500, true);


--
-- Name: consent_audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.consent_audit_logs_id_seq', 50, true);


--
-- Name: consent_policies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.consent_policies_id_seq', 12, true);


--
-- Name: consent_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.consent_records_id_seq', 11, true);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customers_id_seq', 461, true);


--
-- Name: data_quality_issues_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.data_quality_issues_id_seq', 1, false);


--
-- Name: dealer_access_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dealer_access_requests_id_seq', 4, true);


--
-- Name: dealer_affiliations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dealer_affiliations_id_seq', 1, false);


--
-- Name: dealer_reps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dealer_reps_id_seq', 8, true);


--
-- Name: dealers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dealers_id_seq', 64, true);


--
-- Name: flexible_attributes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.flexible_attributes_id_seq', 2, true);


--
-- Name: identity_resolution_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.identity_resolution_logs_id_seq', 18, true);


--
-- Name: identity_resolution_rules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.identity_resolution_rules_id_seq', 16, true);


--
-- Name: permission_audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permission_audit_logs_id_seq', 16, true);


--
-- Name: promotional_campaigns_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.promotional_campaigns_id_seq', 10, true);


--
-- Name: rbac_menus_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rbac_menus_id_seq', 12, true);


--
-- Name: rbac_modules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rbac_modules_id_seq', 9, true);


--
-- Name: rbac_pages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rbac_pages_id_seq', 9, true);


--
-- Name: rbac_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rbac_permissions_id_seq', 54, true);


--
-- Name: rbac_roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rbac_roles_id_seq', 6, true);


--
-- Name: segments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.segments_id_seq', 20, true);


--
-- Name: upload_errors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.upload_errors_id_seq', 460, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 13, true);


--
-- Name: behavioral_events behavioral_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.behavioral_events
    ADD CONSTRAINT behavioral_events_pkey PRIMARY KEY (id);


--
-- Name: bulk_upload_jobs bulk_upload_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bulk_upload_jobs
    ADD CONSTRAINT bulk_upload_jobs_pkey PRIMARY KEY (id);


--
-- Name: consent_audit_logs consent_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consent_audit_logs
    ADD CONSTRAINT consent_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: consent_policies consent_policies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consent_policies
    ADD CONSTRAINT consent_policies_pkey PRIMARY KEY (id);


--
-- Name: consent_records consent_records_customer_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consent_records
    ADD CONSTRAINT consent_records_customer_email_key UNIQUE (customer_email);


--
-- Name: consent_records consent_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consent_records
    ADD CONSTRAINT consent_records_pkey PRIMARY KEY (id);


--
-- Name: customers customers_cdp_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_cdp_id_key UNIQUE (cdp_id);


--
-- Name: customers customers_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_email_key UNIQUE (email);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: data_quality_issues data_quality_issues_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_quality_issues
    ADD CONSTRAINT data_quality_issues_pkey PRIMARY KEY (id);


--
-- Name: dealer_access_requests dealer_access_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dealer_access_requests
    ADD CONSTRAINT dealer_access_requests_pkey PRIMARY KEY (id);


--
-- Name: dealer_affiliations dealer_affiliations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dealer_affiliations
    ADD CONSTRAINT dealer_affiliations_pkey PRIMARY KEY (id);


--
-- Name: dealer_reps dealer_reps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dealer_reps
    ADD CONSTRAINT dealer_reps_pkey PRIMARY KEY (id);


--
-- Name: dealers dealers_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dealers
    ADD CONSTRAINT dealers_code_key UNIQUE (code);


--
-- Name: dealers dealers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dealers
    ADD CONSTRAINT dealers_pkey PRIMARY KEY (id);


--
-- Name: flexible_attributes flexible_attributes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flexible_attributes
    ADD CONSTRAINT flexible_attributes_pkey PRIMARY KEY (id);


--
-- Name: identity_resolution_logs identity_resolution_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_resolution_logs
    ADD CONSTRAINT identity_resolution_logs_pkey PRIMARY KEY (id);


--
-- Name: identity_resolution_rules identity_resolution_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_resolution_rules
    ADD CONSTRAINT identity_resolution_rules_pkey PRIMARY KEY (id);


--
-- Name: permission_audit_logs permission_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permission_audit_logs
    ADD CONSTRAINT permission_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: promotional_campaigns promotional_campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotional_campaigns
    ADD CONSTRAINT promotional_campaigns_pkey PRIMARY KEY (id);


--
-- Name: rbac_menus rbac_menus_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_menus
    ADD CONSTRAINT rbac_menus_key_key UNIQUE (key);


--
-- Name: rbac_menus rbac_menus_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_menus
    ADD CONSTRAINT rbac_menus_pkey PRIMARY KEY (id);


--
-- Name: rbac_modules rbac_modules_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_modules
    ADD CONSTRAINT rbac_modules_key_key UNIQUE (key);


--
-- Name: rbac_modules rbac_modules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_modules
    ADD CONSTRAINT rbac_modules_pkey PRIMARY KEY (id);


--
-- Name: rbac_pages rbac_pages_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_pages
    ADD CONSTRAINT rbac_pages_key_key UNIQUE (key);


--
-- Name: rbac_pages rbac_pages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_pages
    ADD CONSTRAINT rbac_pages_pkey PRIMARY KEY (id);


--
-- Name: rbac_permissions rbac_permissions_module_id_action_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_permissions
    ADD CONSTRAINT rbac_permissions_module_id_action_key UNIQUE (module_id, action);


--
-- Name: rbac_permissions rbac_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_permissions
    ADD CONSTRAINT rbac_permissions_pkey PRIMARY KEY (id);


--
-- Name: rbac_role_menus rbac_role_menus_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_role_menus
    ADD CONSTRAINT rbac_role_menus_pkey PRIMARY KEY (role_id, menu_id);


--
-- Name: rbac_role_pages rbac_role_pages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_role_pages
    ADD CONSTRAINT rbac_role_pages_pkey PRIMARY KEY (role_id, page_id);


--
-- Name: rbac_role_permissions rbac_role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_role_permissions
    ADD CONSTRAINT rbac_role_permissions_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: rbac_roles rbac_roles_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_roles
    ADD CONSTRAINT rbac_roles_name_key UNIQUE (name);


--
-- Name: rbac_roles rbac_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_roles
    ADD CONSTRAINT rbac_roles_pkey PRIMARY KEY (id);


--
-- Name: segments segments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.segments
    ADD CONSTRAINT segments_pkey PRIMARY KEY (id);


--
-- Name: upload_errors upload_errors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.upload_errors
    ADD CONSTRAINT upload_errors_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_access_req_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_access_req_code ON public.dealer_access_requests USING btree (dealer_code);


--
-- Name: idx_behavioral_converted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_behavioral_converted ON public.behavioral_events USING btree (converted);


--
-- Name: idx_behavioral_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_behavioral_created_at ON public.behavioral_events USING btree (created_at);


--
-- Name: idx_behavioral_event_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_behavioral_event_type ON public.behavioral_events USING btree (event_type);


--
-- Name: idx_behavioral_page_url; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_behavioral_page_url ON public.behavioral_events USING btree (page_url);


--
-- Name: idx_behavioral_session_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_behavioral_session_id ON public.behavioral_events USING btree (session_id);


--
-- Name: idx_behavioral_traffic_source; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_behavioral_traffic_source ON public.behavioral_events USING btree (traffic_source);


--
-- Name: idx_behavioral_user_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_behavioral_user_name ON public.behavioral_events USING btree (user_name);


--
-- Name: idx_bulk_jobs_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bulk_jobs_status ON public.bulk_upload_jobs USING btree (status);


--
-- Name: idx_consent_analytics_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_consent_analytics_status ON public.consent_records USING btree (analytics_status);


--
-- Name: idx_consent_customer_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_consent_customer_email ON public.consent_records USING btree (customer_email);


--
-- Name: idx_consent_customer_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_consent_customer_name ON public.consent_records USING btree (customer_name);


--
-- Name: idx_consent_marketing_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_consent_marketing_status ON public.consent_records USING btree (marketing_status);


--
-- Name: idx_consent_personalization_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_consent_personalization_status ON public.consent_records USING btree (personalization_status);


--
-- Name: idx_customers_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_email ON public.customers USING btree (email);


--
-- Name: idx_customers_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_status ON public.customers USING btree (status);


--
-- Name: idx_customers_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_type ON public.customers USING btree (customer_type);


--
-- Name: idx_dealer_aff_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dealer_aff_customer ON public.dealer_affiliations USING btree (customer_id);


--
-- Name: idx_dealer_reps_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dealer_reps_code ON public.dealer_reps USING btree (dealer_code);


--
-- Name: idx_dealers_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dealers_code ON public.dealers USING btree (code);


--
-- Name: idx_dealers_parent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dealers_parent ON public.dealers USING btree (parent_code);


--
-- Name: idx_dealers_region; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dealers_region ON public.dealers USING btree (region);


--
-- Name: idx_dqi_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dqi_customer ON public.data_quality_issues USING btree (customer_id);


--
-- Name: idx_flex_attr_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_flex_attr_customer ON public.flexible_attributes USING btree (customer_id);


--
-- Name: idx_pal_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pal_action ON public.permission_audit_logs USING btree (action);


--
-- Name: idx_pal_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pal_created_at ON public.permission_audit_logs USING btree (created_at DESC);


--
-- Name: idx_pal_performed_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pal_performed_by ON public.permission_audit_logs USING btree (performed_by_id);


--
-- Name: idx_pal_target_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pal_target_role ON public.permission_audit_logs USING btree (target_role_id);


--
-- Name: idx_pal_target_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pal_target_user ON public.permission_audit_logs USING btree (target_user_id);


--
-- Name: idx_rbac_rm_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rbac_rm_role ON public.rbac_role_menus USING btree (role_id);


--
-- Name: idx_rbac_rp_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rbac_rp_role ON public.rbac_role_permissions USING btree (role_id);


--
-- Name: idx_rbac_rpage_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rbac_rpage_role ON public.rbac_role_pages USING btree (role_id);


--
-- Name: idx_segments_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_segments_status ON public.segments USING btree (status);


--
-- Name: idx_upload_errors_job_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_upload_errors_job_id ON public.upload_errors USING btree (job_id);


--
-- Name: idx_user_roles_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_roles_role ON public.user_roles USING btree (role_id);


--
-- Name: idx_user_roles_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_roles_user ON public.user_roles USING btree (user_id);


--
-- Name: idx_users_customer_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_customer_type ON public.users USING btree (customer_type);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: customers trg_customers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_customers_updated_at BEFORE UPDATE ON public.customers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: dealers trg_dealers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_dealers_updated_at BEFORE UPDATE ON public.dealers FOR EACH ROW EXECUTE FUNCTION public.update_dealers_updated_at();


--
-- Name: rbac_roles trg_rbac_roles_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_rbac_roles_updated_at BEFORE UPDATE ON public.rbac_roles FOR EACH ROW EXECUTE FUNCTION public.update_rbac_roles_updated_at();


--
-- Name: segments trg_segments_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_segments_updated_at BEFORE UPDATE ON public.segments FOR EACH ROW EXECUTE FUNCTION public.update_segments_updated_at();


--
-- Name: users trg_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_users_updated_at();


--
-- Name: consent_audit_logs consent_audit_logs_consent_record_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consent_audit_logs
    ADD CONSTRAINT consent_audit_logs_consent_record_id_fkey FOREIGN KEY (consent_record_id) REFERENCES public.consent_records(id) ON DELETE CASCADE;


--
-- Name: data_quality_issues data_quality_issues_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_quality_issues
    ADD CONSTRAINT data_quality_issues_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: dealer_access_requests dealer_access_requests_dealer_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dealer_access_requests
    ADD CONSTRAINT dealer_access_requests_dealer_code_fkey FOREIGN KEY (dealer_code) REFERENCES public.dealers(code) ON DELETE CASCADE;


--
-- Name: dealer_affiliations dealer_affiliations_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dealer_affiliations
    ADD CONSTRAINT dealer_affiliations_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: dealer_reps dealer_reps_dealer_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dealer_reps
    ADD CONSTRAINT dealer_reps_dealer_code_fkey FOREIGN KEY (dealer_code) REFERENCES public.dealers(code) ON DELETE CASCADE;


--
-- Name: flexible_attributes flexible_attributes_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flexible_attributes
    ADD CONSTRAINT flexible_attributes_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: identity_resolution_logs identity_resolution_logs_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_resolution_logs
    ADD CONSTRAINT identity_resolution_logs_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: identity_resolution_logs identity_resolution_logs_duplicate_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_resolution_logs
    ADD CONSTRAINT identity_resolution_logs_duplicate_customer_id_fkey FOREIGN KEY (duplicate_customer_id) REFERENCES public.customers(id);


--
-- Name: permission_audit_logs permission_audit_logs_performed_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permission_audit_logs
    ADD CONSTRAINT permission_audit_logs_performed_by_id_fkey FOREIGN KEY (performed_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: permission_audit_logs permission_audit_logs_target_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permission_audit_logs
    ADD CONSTRAINT permission_audit_logs_target_role_id_fkey FOREIGN KEY (target_role_id) REFERENCES public.rbac_roles(id) ON DELETE SET NULL;


--
-- Name: permission_audit_logs permission_audit_logs_target_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permission_audit_logs
    ADD CONSTRAINT permission_audit_logs_target_user_id_fkey FOREIGN KEY (target_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: rbac_permissions rbac_permissions_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_permissions
    ADD CONSTRAINT rbac_permissions_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.rbac_modules(id) ON DELETE CASCADE;


--
-- Name: rbac_role_menus rbac_role_menus_menu_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_role_menus
    ADD CONSTRAINT rbac_role_menus_menu_id_fkey FOREIGN KEY (menu_id) REFERENCES public.rbac_menus(id) ON DELETE CASCADE;


--
-- Name: rbac_role_menus rbac_role_menus_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_role_menus
    ADD CONSTRAINT rbac_role_menus_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.rbac_roles(id) ON DELETE CASCADE;


--
-- Name: rbac_role_pages rbac_role_pages_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_role_pages
    ADD CONSTRAINT rbac_role_pages_page_id_fkey FOREIGN KEY (page_id) REFERENCES public.rbac_pages(id) ON DELETE CASCADE;


--
-- Name: rbac_role_pages rbac_role_pages_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_role_pages
    ADD CONSTRAINT rbac_role_pages_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.rbac_roles(id) ON DELETE CASCADE;


--
-- Name: rbac_role_permissions rbac_role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_role_permissions
    ADD CONSTRAINT rbac_role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.rbac_permissions(id) ON DELETE CASCADE;


--
-- Name: rbac_role_permissions rbac_role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rbac_role_permissions
    ADD CONSTRAINT rbac_role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.rbac_roles(id) ON DELETE CASCADE;


--
-- Name: upload_errors upload_errors_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.upload_errors
    ADD CONSTRAINT upload_errors_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.bulk_upload_jobs(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.rbac_roles(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

